*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
.title{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8ae94;
    color: white;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
}
.container a {
    text-decoration: none;
    color: initial;
    font-size: 20px;
}
.container a:hover {
    color: #a8ae94;
    border-bottom: #a8ae94 1px solid;
}
.container h2{
    margin-top: 5%;
    font-size: 30px;
}
.container button{

    margin-top: 5%;
    background-color: #a8ae94;
    color: white;
}
.form{
    width: 50%;
    margin: auto;
}
form{
    line-height: 2.5em;
}
.form-group{
    width: 100%;
}
.form-group input, .submit_button{
    border: red 2px solid;
    padding: 15px;
    height: 25%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

fieldset{
    border: 2px solid #a8ae94;
    padding: 5% 1% 5% 1%;
}
/* Error page  */
.Error{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 3%;
}
.Error h1{
    font-size: 288px;
    font-weight: 700;
}
.Error p{
    font-size: 36px;
    font-weight: 500;
}
.Error a{
    border-bottom: 1px solid #a8ae94;   
    text-decoration: none;
    color:#2c3e50;  
}
